// TYPOGRAPHY
$main-font: 'Arial', sans-serif;

//  COLORS

$white: #ffffff;
$gray-dark: #484848; // TUNDORA
$gray-light: #e5e8eb; //ATHENS GRAY
$gray-transp: rgba(114, 117, 119, .6); // TUNDORA WITH .6 TRANSPARENT
$green-main: #79b27b; // BAY LEAF
$green-sec:#69aa53
